.bg-nav {
  background-image: url("../../public/assets/pic/bar-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-foot {
  background-image: url("../../public/assets/pic/site-foot.png");
  background-position: center;
}

.bg-h-bar {
  background-image: url("../../public/assets/pic/bar.png");
  background-position: center;
  background-size: cover;
}

.bg-text {
  background-color: rgba(255, 242, 0, 0.7);
  opacity: 0.5;
  height: 100%;
  border-radius: 10px;
}

.bg-roop {
  background-image: url("../../public/assets/pic/bar-bg.png");
  background-position: center;
  background-size: cover;
}

.bg-roopy {
  background: rgb(255, 255, 255, 0.6);
  color: transparent;
}

.bg-classic {
  background-image: url("../../public/assets/pic/bg-classic.png");
  background-position: center;
  background-size: cover;
}

.bg-coroop {
  background: rgba(0, 0, 0, 0.6);
}

.bg-pop {
  background-image: url("../../public/assets/pic/bg-pop.png");
  background-position: center;
  background-size: cover;
}

.bg-bu {
  background-image: url("../../public/assets/pic/bg-bu.png");
  background-size: cover;
}
